fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-cohere
langchain-pinecone
langchain-huggingface
langchain-text-splitters
groq
cohere
pinecone
sentence-transformers
rank-bm25