fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-groq
pinecone-client
rank_bm25
cohere
pydantic
python-dotenv
pypdf
langchain-pinecone
langchain-cohere
langchain-huggingface[full]